* {
    font-family: "Times New Roman", sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 40px;
    text-align: center;
    background-color: rgb(224, 176, 99);
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
}

.item{
    margin-bottom: 15px;
}

img {
    display: block;
    margin: auto;
}

.blurb {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 25px
    text-align: center;
    color: rgb(187, 72, 0);
    margin-top: 25px;
}

button {
    font-size: 20px;
    color: darkblue;
    background-color: rgb(224, 176, 99);
    display: block;
    border: 20px;
    margin: auto;
    margin-top: 30px;
}