* {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    background-color: rgb(224, 176, 99);
    margin-bottom: 30px;
    padding-left: 30px;
}

img {
    margin: center;
}

.blurb {
    font-size: 30px;
    text-align: center;
}

button {
    color: darkblue;
    background-color: rgb(224, 176, 99);
    border: 20px;
    font-size: 20px;
    margin: center;
    padding: 30px;
}