* {
    font-family: "Times New Roman", sans-serif;
    font-size: 20px;
}

h1 {
    text-align: auto;
    font-size: 40px;
    background-color: rgb(99, 193, 224);
    margin-bottom: 30px;
    padding-left: 30px;
}

li {
    color: darkblue;
}